{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <div class="logo">
                    <a href="index.html">
                        <img width="111" height="54" src="{{ asset('bundles/viettutweb/img/viettut.png') }}" alt="Porto">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 center">
                <h1 class="short small">OUR WEBSITE IS COMING SOON</h1>
                <p class="short lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="progress-bars">
                    <div class="progress-label">
                        <span><strong>Conception:</strong> Finished</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span><strong>Design</strong></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="85%" data-appear-animation-delay="300">
                            <span class="progress-bar-tooltip">85%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span><strong>Development</strong></span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="75%" data-appear-animation-delay="600">
                            <span class="progress-bar-tooltip">75%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="newsletter">
                    <h5>subscribe to get notification once the page is completed !</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

